* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fde6eb; /* rosa pastel */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  max-width: 430px; /* iPhone 13 Pro Max */
}

.canva-image {
  width: 100%;
  display: block;
  border-radius: 16px;
  transition: opacity 1.4s ease-in-out;
}

/* Zonas clickeables */
.click-zone {
  position: absolute;
  cursor: pointer;
  background: transparent; /* invisible */
}

/* Hoja 1 - corazón */
.heart-zone {
  width: 90px;
  height: 90px;
  bottom: 280px;
  left: 50%;
  transform: translateX(-50%);
}

/* Hoja 4 - botones (AJUSTAR MAÑANA) */
/* BOTÓN SÍ 1 */
.btn1 {
  top: 525px;
  left: 40px;
  width: 350px;
  height: 61px;
}

/* BOTÓN SÍ 2 */
.btn2 {
  top: 601px;
  left: 40px;
  width: 350px;
  height: 61px;
}

/* BOTÓN NO */
.btn3 {
  top: 676px;
  left: 140px;
  width: 150px;
  height: 61px;
}
#decoraciones {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* MUY IMPORTANTE */
  overflow: hidden;
  z-index: 5;
}
.petalo {
  position: absolute;
  top: -50px;
  width: 18px;
  height: 18px;
  background: rgba(255, 120, 150, 0.7);
  border-radius: 50% 50% 50% 0;
  transform: rotate(45deg);
  animation: caer linear infinite;
}

@keyframes caer {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}
.chispa {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  box-shadow:
    0 0 6px white,
    0 0 12px rgba(255,255,255,0.9),
    0 0 20px rgba(255,255,255,0.7);
  animation: destello 1.5s infinite ease-in-out;
}

@keyframes destello {
  0% {
    transform: scale(0.4);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    opacity: 0.2;
  }
}
@keyframes brillar {
  from { opacity: 0.2; }
  to { opacity: 1; }
}
.petalo {
  background: rgba(200, 30, 60, 0.8);
}
